*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	height: auto;
	background: #F3F4F5;
}

.averagetitle{
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	color: #1E212B;
}

.averagetext{
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: #757575;
}

.averagebtn{
	background: #FFB5A7;
	border-radius: 4px;
	padding: 1px 24px;
	color: #ffffff;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	transition: all 0.3s ease;
}

.averagebtn:hover{
	transition: all 0.3s ease;
	background: #FAA5B7 ;
}

/* 	HEADER  */

header{

}
.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0px 50px;

}
.logo{
	padding: 15px 0px;
}
.login{
	padding: 16px 24px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	background: #FFB5A7;
	border-radius: 4px;
	color: #ffffff;
}

/*  WELCOME  */

.welcome{
	text-align: center;
	background: #F3F4F5;
	min-height: 86vh;
}
.welcome-title{
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-size: 56px;
	line-height: 83px;
	color: #1E212B;
	padding-top: 127px;
}
.welcome-text{
	max-width: 690px;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 46px;
	height: 85%;
}
.welcome-btn{
	margin-bottom: 144px;
}

/*  COLAJ  */

.img-gr{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.img-gr-up__img-odd{
	width: 9%;
}
.img-gr-up__img{
	width: 29%;
}

/*  about  */

.about{
	margin: 200px 144px;
}

.included-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 210px;
}
.included__title{	

}
.included__text{
}

/*  paragraph  */

.paragraph-top{
	display: flex;
	justify-content: space-between;
	gap: 63px;
	margin-top: 222px;
}
.paragraph-bottom{
	display: flex;
	justify-content: space-between;
	gap: 63px;
	margin-top: 56px;
}
.paragraph__title{
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 31px;
	letter-spacing: 0.72px;
	color: #1E212B;
	margin-top: 13px;
}
.paragraph__text{
	margin-top: 13px;
}


/*  PAGE PREVIEWS  */

.page-previews{
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 1.26px;
	text-transform: uppercase;
	color: #B7BCCB;
	margin-top: 200px;

}


/*  PORTFOLIO & DETAILS  */


.var{
	display: flex;
	flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.var__title{
	text-align: center;
	margin-top: 5px;
}

.var__sub-title{
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
	text-align: center;
	color: #757575;
	margin-top: 21px;
}
.var__4st{
	display: flex;
	justify-content: space-between;
	margin-top: 63px;
	gap: 40px;
}
.var__inner-card{
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	gap: 40px;
}
.card-title{
	text-align: center;
	margin-top: 21px;
	font-family: 'DM Serif Display';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;	
	line-height: 31px;
	text-align: center;
	letter-spacing: 0.72px;
	color: #1E212B;
}

.card-bg{
	background: #B7BCCB;
	border-radius: 4px;
	padding: 24px;

}


//*  GET STARTED  *//


.started{

}
.started__up-title{
	text-align: center;
}
.started__title{
	text-align: center;
	margin-bottom: 53px;
}
.started__btn{
	margin-left: 45%;
	
}
.started__img{
	margin: 67px 20%;
	display: none;
}
.strated__up-img{
	position: relative;
	top: 100px;
}
.strated__down-img{
	position: absolute;
}


//*  Footer  *//


footer{
	margin: 0 auto;
}

.footer-up{
	margin-top: 80px;
}


